<div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card-group">
                  <div class="card p-4">
                    <div class="card-body">
                      <form [formGroup]="login"  (ngSubmit)="onSubmit(login)">
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="far fa-user" [ngClass]="{'error':Email.touched && !Email.valid}"></i>
                        </span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" autocomplete="email" formControlName="email" id="email" required>
                        </div>
                        <div *ngIf="!Email.valid" >
                            <span *ngIf="Email.touched && Email.hasError('required')" class="error">
                            Email can not be blank
                            </span>
                            <span *ngIf="Email.touched && Email.hasError('pattern')" class="error">
                            Email shoud valid
                            </span>
                         </div>
                        <div class="input-group mt-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="fas fa-user-lock" [ngClass]="{'error':Pass.touched && !Pass.valid}">
      
                            </i></span>
                          </div>
                          <input type="password" class="form-control" placeholder="Password" autocomplete="password" formControlName="password" id="password"  required>
                        </div>
                        <div *ngIf="!Pass.valid" >
                            <span *ngIf="Pass.touched && Pass.hasError('required')" class="error">
                            Password can not be blank
                            </span>
                            <span *ngIf="Pass.touched && Pass.hasError('minlength')" class="error">
                            Password shoud be of min 8 charachters
                            </span>
                        </div>
                        <div class="row mt-3">
                          <div class="col-6">
                            <!-- <button type="button" class="btn btn-primary px-4">Login</button> -->
                            <button class="btn btn-primary px-4" [disabled]="!login.valid || btnDisabled">Login</button>
                          </div>
                          <!-- <div class="col-6 text-right">
                            <button type="button" class="btn btn-link px-0">Forgot password?</button>
                          </div> -->
                        </div>
                      </form>
                    </div>
                  </div>
                  <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-body text-center">
                      <div>
                        <h2>Sign up</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      