<nb-card accent="info">
  <nb-card-header>
    <div class="row">
      <h3 class="ml-2">Languages</h3>
      <span style="flex: 1 1 auto;"></span>
      <!-- <input class="mx-1" type="text" nbInput shape="semi-round" placeholder="Search" [(ngModel)]="searchText">
      <span style="flex: 1 1 auto;"></span> -->
      <button class="mr-2" nbButton shape="semi-round" (click)="open(addLanguage)" status="success" size="small">
        <nb-icon icon="plus-square-outline"></nb-icon>Add Language
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let head of tableHeads" scope="col">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lang of langArray | filter : 'name' : searchText; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{lang._id}}</td>
          <td>{{lang.name}}</td>
          <td>{{lang.code}}</td>
          <td>
            <button class="mx-1" nbButton outline status="warning" size="small">EDIT</button>
            <button class="mx-1" nbButton outline status="danger" size="small"
              (click)="removeLanguage(lang._id)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<ng-template #addLanguage let-ref="dialogRef">
  <nb-card class="w-100">
    <nb-card-header>
      <div class="row">
        <h5 class="text-center">Add Language</h5>
      </div>
    </nb-card-header>
    <nb-card-body>
      <app-add-languages></app-add-languages>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="danger" (click)="ref.close()" fullWidth><nb-icon icon="close-outline">Cancel</nb-icon></button>
    </nb-card-footer>
  </nb-card>
</ng-template>