<nb-card>
  <nb-card-header>
    <div class="row d-block">
      <button class="float-left" nbButton ghost status="danger" size="tiny" routerLink="/userlist">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      <h4 class="text-center">Edit User</h4>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="editUser" (ngSubmit)="onSubmit(editUser)">
      <div class="row">
        <div class="mb-3 col-md-6">
          <input nbInput status="info" type="text" class="form-control" placeholder="First Name*"
            autocomplete="firstname" formControlName="firstname" id="firstname" required>
        </div>
        <div *ngIf='getControl("firstname")' class="error">
          {{getErrorMessage("firstname")}}
        </div>

        <div class="mb-3 col-md-6">
          <input nbInput status="info" type="text" class="form-control" placeholder="Last Name*" autocomplete="lastname"
            formControlName="lastname" id="lastname" required>
        </div>
        <div *ngIf='getControl("lastname")' class="error">
          {{getErrorMessage("lastname")}}
        </div>

        <div class="mb-3 col-md-6">
          <input nbInput status="info" type="text" class="form-control" placeholder="Username*" autocomplete="username"
            formControlName="username" id="username" required>
        </div>

        <div *ngIf='getControl("username")' class="error">
          {{getErrorMessage("username")}}
        </div>

        <div class="mb-3 col-md-6">
          <input type="text" class="form-control" placeholder="Email*" autocomplete="email" formControlName="email"
            id="email" required>
        </div>
        <div *ngIf='getControl("email")' class="error">
          {{getErrorMessage("email")}}
        </div>

        <div class="col-md-2 offset-md-5">
          <button nbButton status="success" [disabled]="!editUser.valid">Update</button>
        </div>
      </div>

    </form>
  </nb-card-body>