<nb-card>
  <nb-card-header>
    <div class="row d-block">
      <button class="float-left" nbButton ghost status="danger" size="tiny" routerLink="/category">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      <h4 class="text-center">Edit Category</h4>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="editUser" (submit)="onSubmit()">
      <div class="row">
        <div class="mb-3 col-md-6 col-lg-6">
          <div id="imageContainer" (click)="openTargetFileInput('photo')">
            <div *ngIf="imagePath">
              <img [src]="imagePath" width="150px" height="150px" style="border-radius: 2px">
            </div>
          </div>
          <input #file type="file" id="photo" (change)="onSelectedFile($event)" (change)="preview(file.files)" />
        </div>
        <div class="mb-3 col-md-6 col-lg-6">
          <input type="text" class="form-control" placeholder="Enter your category name" autocomplete="category"
            formControlName="name" id="name" required>
        </div>
        <div class="col-md-2 offset-md-5">
          <button nbButton status="success" size="small" [disabled]="!editUser.valid">Update</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>