// .imagesrc {
//   height: 30px;
//   width: 40px;
// }

#imageContainer {
  min-height: 150px;
  width: 158px;
  border: 4px solid #c8ced3;
  border-radius: 5px;
  display: inline-block;
}
#photo {
  display: none;
}
