<nb-card>
  <nb-card-header>
    <div class="row">
      <button class="ml-3" nbButton ghost status="danger" size="tiny" routerLink="/location">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      <h4 class="mx-auto">Add Location</h4>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="locationForm" (ngSubmit)="onSubmit($event)">
      <div class="row">

        <div class="mb-3 col-md-6 col-lg-6">
          <div id="imageContainer" (click)="openTargetFileInput('photo')">
            <div *ngIf="imagePath">
              <img [src]="imagePath" width="150px" height="150px" style="border-radius: 2px">
            </div>
          </div>
          <input #file type="file" class="custom-file-input" id="photo" (change)="onFileChanged($event)"
            (change)="preview(file.files)" />
        </div>

        <div class="mb-3 col-md-6">
          <div class="row">

            <div class="mb-3 col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icons cui-globe"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Location Name*" autocomplete="location" id="name"
                  formControlName="name">
              </div>
              <div *ngIf='getControl("name")' class="error">
                {{getErrorMessage("name")}}
              </div>
            </div>

            <div class="mb-3 col-md-12">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icons cui-location-pin"></i></span>
                </div>
                <input type="text" class="form-control" formControlName="Latitude" placeholder="Latitude"
                  autocomplete="Latitude" [value]="latitude" id="Latitude">
              </div>

            </div>

            <div class="mb-3 col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icons cui-location-pin"></i></span>
                </div>
                <input type="text" class="form-control" formControlName="Longitude" placeholder="Longitude"
                  autocomplete="Longitude" id="Longitude" [value]="longitude">
              </div>

            </div>

          </div>
        </div>


        <div class="mb-3 col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="category"><i class="cui-list"></i></label>
            </div>
            <select class="form-control" formControlName="category" id="category">
              <option selected value="">Select Category</option>
              <option *ngFor="let singleCategory of categoryArray; let i = index" [value]="singleCategory._id">
                {{singleCategory.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="mb-3 col-md-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="cui-sort-descending"></i></span>
            </div>
            <textarea class="form-control" placeholder="Description" formControlName="discription"
              autocomplete="discrition" id="discription"></textarea>
          </div>
        </div>

        <div class="mb-3 col-md-12">

          <div class="mb-3 input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="icons cui-globe"></i></span>
            </div>
            <input ngx-google-places-autocomplete placeholder="Search For Location" class="form-control"
              [options]="options" #search="ngx-places" formControlName="address"
              (onAddressChange)="handleAddressChange($event)">
          </div>

          <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>


          <!-- <div *ngIf='getControl("address")' class="error">
                  {{getErrorMessage("address")}}
                </div> -->
        </div>


        <div class="mb-3 col-md-12">

          <button class="mb-3 btn btn-light" (click)="addNote()">Notes <b id="plusBtn">+</b>
          </button>


          <!-- <div id="filUploadContainerAudio" class="col-md-12 col-lg-12 mb-3"> -->

          <div id="filUploadContainerAudio" class="col-md-12 mb-3" *ngFor="let ele of collection; let i = index">
            <div class="box-body-area col-md-6 col-lg-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="category"><i class="cui-star"></i></label>
                </div>
                <select class="form-control" id="category" *ngIf="!notePriorityMap[i]?.noteId"
                  (change)="languageChange($event.target.value,i)">
                  <option selected>Select Note</option>
                  <option *ngFor="let language of cloneNotesArr; let i = index" [value]="language._id">
                    {{language.name }}
                  </option>
                </select>
                <label style="padding: 5px 10px;"
                  *ngIf="notePriorityMap[i]?.noteId">{{notePriorityMap[i].noteName}}</label>
              </div>
            </div>
            <div class="box-body-area col-md-4 col-lg-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="category"><i class="cui-star"></i></label>
                </div>
                <select class="form-control" id="category" *ngIf="!notePriorityMap[i]?.priority"
                  (change)="priorityChange($event.target.value,i)">
                  <option selected>Select Priority</option>
                  <option *ngFor="let priority of priorityArr; let i = index" [value]="priority">
                    {{priority}}
                  </option>
                </select>
                <label style="padding: 5px 10px;"
                  *ngIf="notePriorityMap[i]?.priority">{{notePriorityMap[i].priority}}</label>
              </div>
            </div>
            <div class="box-body-area col-md-2 col-lg-2" style="text-align: center">
              <button id="btnDeleteNote" class="btn btn-secondary" (click)="remove(i)">Remove</button>
            </div>
          </div>

          <!-- </div> -->
        </div>

        <div class="col-md-12" style="text-align: center">
          <div style="width: 20%; display: inline-block;">
            <button class="btn btn-block btn-success" [disabled]="!locationForm.valid">Save</button>
          </div>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>