<nb-card>
  <nb-card-header>
    <div class="row">
      <h4 class="text-center ml-3">View Categories</h4>
      <span class="spacer"></span>
      <button class="mr-3" nbButton status="success" size="small" outline routerLink="/category/add-category">
        <nb-icon icon="plus-square-outline"></nb-icon> Add
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Category Icon</th>
          <th scope="col">Category Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cat of categoryList | paginate: { itemsPerPage: 5, currentPage: p };">
          <td><img src={{cat.photo}} style="width: 70px; height: 70px;"></td>
          <td>{{cat.name}}</td>
          <td>
            <button class="m-1" size="small" nbButton outline status="warning" (click)="editCategory(cat)">
              <nb-icon icon="eye-outline"></nb-icon>VIEW
            </button>
            <button class="m-1" size="small" nbButton outline status="danger" (click)="deleteCategory(cat)">
              <nb-icon icon="trash-2-outline"></nb-icon>DELETE
            </button>
          </td>
        </tr>
      </tbody>
      <div class="mt-4">
        <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
      </div>
    </table>
  </nb-card-body>
</nb-card>