<div class="row">
    <input type="text" nbInput status="info" shape="round" fullWidth placeholder="Please Enter Language Name" [formControl]="langName">
    <span *ngIf="langError" class="badge badge-danger">The Field is Required.</span>
</div>
<div class="row">
    <input type="text" nbInput status="info" shape="round" fullWidth placeholder="Please Enter Language Code" [formControl]="langCode"
        minlength="2" maxlength="2">
    <span *ngIf="langCode.hasError('minlength')" class="badge badge-danger">Please Enter Atleast 2 Characters!!!</span>
    <span *ngIf="langCode.hasError('maxlength')" class="badge badge-danger">No More Than 2 Characters Allowed!!!</span>
</div>
<div class="row">
    <button type="button" nbButton outline size="small" status="success" shape="round" fullWidth (click)="addLanguage()"
        [disabled]="!langName.valid">ADD</button>
</div>