<nb-layout>
  <nb-layout-header fixed>
    <button type="button" nbButton ghost shape="semi-round" size="small" (click)="toggle()">
      <nb-icon icon="menu"></nb-icon>
    </button>
    <span style="flex: 1 1 auto"></span>
    <img src="assets/img/brand/logo.png" width="89" height="42" alt="Listenly Logo">
    <span style="flex: 1 1 auto"></span>
    <!-- <nb-user size="medium" name="John Doe" title="Engineer" onlyPicture></nb-user> -->
    <button type="button" nbButton outline status="danger" size="small" (click)="logout()">
      <nb-icon icon="log-out-outline"></nb-icon>
    </button>
  </nb-layout-header>
  <nb-sidebar state="compacted">
    <nb-menu [items]="navMenu" fullWidth></nb-menu>
    <nb-sidebar-footer>
      <div *ngIf="sidebarCollapsed">
        <a href="app.rumbly.it">Listenly</a> &copy; 2019.
      </div>
    </nb-sidebar-footer>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <!-- <nb-layout-footer fixed></nb-layout-footer> -->
</nb-layout>