#imageContainer {
  min-height: 150px;
  width: 158px;
  border: 4px solid #c8ced3;
  border-radius: 5px;
  display: inline-block;
}

#photo {
  display: none;
}

#audioFileContainer {
  // background-color: #f0f3f5;
  //   border: 1px solid #e4e7ea;
  padding: 10px 5px;
  max-width: 100%;
  display: inline-flex;
}

#btnDeleteNote {
  line-height: 1.4;
  //   float: right;
  font-weight: 900;
}

#filUploadContainerAudio {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
}

.box-body-area {
  padding: 2px 3px;
}

.audioName {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 900;
}

// .btn-secondary {
//   font-weight: 900;
// }

// .btn-secondary:hover {
//   font-weight: 900;
//   color: #fff;
//   background-color: #fd8a17;
// }

// .btn-secondary:not(:disabled):not(.disabled):active {
//   font-weight: 900;
//   color: #fff;
//   background-color: #fd8a17;
// }

#playBtn {
  padding: 5px;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: 600;
  font-size: 12px;
}

#playBtn:hover {
  color: #fff;
  background-color: #fd8a17;
  border: 1px solid #fd8a17 !important;
  font-weight: 600;
}

#viewModeFile {
  border: 1px solid rgb(209, 219, 228);
  border-radius: 3px;
  background-color: rgb(209, 219, 228);
  padding: 5px;
}

.btn-light {
  line-height: 1;
}

ul {
  display: flex;
  padding-inline-start: 15px;
}

li {
  list-style-type: none;
  padding: 5px;
}

#spanFile {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  //   line-height: 1.5;
  color: #5c6873;
  text-align: center;
  white-space: nowrap;
  background-color: #f0f3f5;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 15px;
}

agm-map {
  height: 300px;
}