<nb-card>
  <nb-card-header>
    <div class="row align-items-center">
      <h4 class="text-center ml-3">View Location</h4>
      <span class="spacer"></span>
      <button class="mx-3" nbButton status="success" style="float: right; margin: 5px 0px;" shape="semi-round" routerLink="/location/add-location">
        <nb-icon icon="plus-square-outline"></nb-icon> Add
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let loc of locationlist | paginate: { itemsPerPage: 5, currentPage: p };">
          <td>{{loc.name}}</td>
          <td>{{loc.address}}</td>
          <td>{{loc.discription}}</td>
          <td>
            <button class="m-1" size="small" nbButton outline status="warn" (click)="editLocation(loc)">
              <nb-icon icon="eye-outline"></nb-icon>VIEW
            </button>
            <button class="m-1" size="small" nbButton outline status="danger" (click)="deleteLocation(loc)">
              <nb-icon icon="trash-2-outline"></nb-icon>DELETE
            </button>
          </td>
        </tr>
      </tbody>
      <div class="container mx-auto">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </table>
  </nb-card-body>
</nb-card>
