<nb-card>
  <nb-card-header>
    <div class="row">
      <button class="ml-3" nbButton ghost status="danger" size="tiny" routerLink="/category">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      <h4 class="mx-auto">Add Category</h4>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="category" (submit)="onSubmit()">
      <div class="row">
        <div class="mb-3 col-md-6 col-lg-6">
          <div id="imageContainer" (click)="openTargetFileInput('photo')">
            <div *ngIf="imagePath">
              <img [src]="imagePath" width="150px" height="150px" style="border-radius: 2px">
            </div>
          </div>
          <input type="file" (change)="preview(fileInput.files)" (change)="onFileChanged($event)" #fileInput
            id="photo" />
        </div>
        <div class="mb-3 col-md-6">
          <input nbInput status="info" type="text" class="form-control" placeholder="Enter your category name"
            autocomplete="category" formControlName="category" id="category" required>
        </div>
      </div>
      <div class="col-md-2 offset-md-5">
        <button nbButton status="success" size="small" [disabled]="!category.valid">Save</button>
      </div>
    </form>
  </nb-card-body>
</nb-card>