<nb-card>
  <nb-card-header>
    <div class="row">
      <button class="ml-3" nbButton ghost status="danger" size="tiny" routerLink="/location/view-default-location">
        <nb-icon icon="arrow-back-outline"></nb-icon>
      </button>
      <h4 class="mx-auto">Add Location</h4>
    </div>
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="defaultLocationForm" (submit)="onSubmit()">
      <div class="row">
        <div class="mb-3 col-md-6 col-lg-6">
          <div id="imageContainer" (click)="openTargetFileInput('photo')">
            <div *ngIf="imagePath">
              <img [src]="imagePath" width="150px" height="150px" style="border-radius: 2px">
            </div>
          </div>
          <input #file type="file" class="custom-file-input" id="photo" (change)="onFileChanged($event)"
            (change)="preview(file.files)" />
        </div>

        <div class="mb-3 col-md-6">
          <div class="row mb-3 col-md-12">
            <input type="text" nbInput status="info" fullWidth placeholder="Location Name" autocomplete="name"
              formControlName="name" id="name" required>
            <div *ngIf="getControl('name')" class="error">
              {{getErrorMessage('name')}}
            </div>
          </div>

          <div class="row mb-3 col-md-12">
            <input type="text" class="form-control" nbInput status="info" fullWidth formControlName="Latitude"
              placeholder="Latitude" autocomplete="Latitude" id="Latitude">
          </div>

          <div class="row mb-3 col-md-12">
            <input type="text" class="form-control" formControlName="Longitude" nbInput status="info" fullWidth
              placeholder="Longitude" autocomplete="Longitude" id="Longitude">
          </div>
        </div>
      </div>

      <div class="row mb-3 col-md-12">
        <textarea placeholder="Description" formControlName="discription" autocomplete="discription" id="discription"
          required nbInput status="info" fullWidth></textarea>
      </div>
      <div class="row mb-3 col-md-12">
        <input placeholder="Default City" formControlName="defaultCity" autocomplete="defaultCity" id="defaultCity"
          required nbInput status="info" fullWidth>
      </div>

      <div class="row mb-3 col-md-12">
        <input placeholder="Search For Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
          class="form-control" #search="ngx-places" formControlName="address" ngx-google-places-autocomplete
          [options]="options" (onAddressChange)="handleAddressChange($event)" nbInput status="info" fullWidth>
      </div>

      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>

      <div class="mb-3 col-md-12">
        <div class="row">
          <button class="mt-3 mb-3" nbButton status="success" outline size="small" (click)="addNote()">Notes <nb-icon
              icon="plus-outline"></nb-icon>
          </button>
        </div>
        <div id="filUploadContainerAudio" class="col-md-12 mb-3" *ngFor="let ele of collection; let i = index">
          <div class="box-body-area col-md-6 col-lg-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="category"><i class="cui-star"></i></label>
              </div>
              <select class="form-control" id="category" *ngIf="!notePriorityMap[i]?.noteId"
                (change)="languageChange($event.target.value,i)">
                <option selected>Select Note</option>
                <option *ngFor="let language of cloneNotesArr; let i = index" [value]="language._id">
                  {{language.name }}
                </option>
              </select>
              <label style="padding: 5px 10px;"
                *ngIf="notePriorityMap[i]?.noteId">{{notePriorityMap[i].noteName}}</label>
            </div>
          </div>
          <div class="box-body-area col-md-4 col-lg-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="category"><i class="cui-star"></i></label>
              </div>
              <select class="form-control" id="category" *ngIf="!notePriorityMap[i]?.priority"
                (change)="priorityChange($event.target.value,i)">
                <option selected>Select Priority</option>
                <option *ngFor="let priority of priorityArr; let i = index" [value]="priority">
                  {{priority}}
                </option>
              </select>
              <label style="padding: 5px 10px;"
                *ngIf="notePriorityMap[i]?.priority">{{notePriorityMap[i].priority}}</label>
            </div>
          </div>
          <div class="box-body-area col-md-2 col-lg-2" style="text-align: center">
            <button id="btnDeleteNote" class="btn btn-secondary" (click)="remove(i)">Remove</button>
          </div>
        </div>

      </div>
      <div class="col-md-12" style="text-align: center">
        <div style="width: 20%; display: inline-block;">
          <button nbButton status="success" size="small" [disabled]="!defaultLocationForm.valid">Save</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>