agm-map {
  height: 300px;
  width: 85vw;
}

#imageContainer {
  min-height: 150px;
  width: 158px;
  border: 4px solid #c8ced3;
  border-radius: 5px;
  display: inline-block;
}
#photo {
  display: none;
}

#audioFileContainer {
  // background-color: #f0f3f5;
  //   border: 1px solid #e4e7ea;
  padding: 10px 5px;
  max-width: 100%;
  display: inline-flex;
}

#btnDeleteNote {
  line-height: 1.4;
  //   float: right;
  font-weight: 900;
}

#filUploadContainerAudio {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
}

.box-body-area {
  padding: 2px 3px;
}

.audioName {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 900;
}

// .btn-secondary {
//   font-weight: 900;
// }

// .btn-secondary:hover {
//   font-weight: 900;
//   color: #fff;
//   background-color: #fd8a17;
// }

// .btn-secondary:not(:disabled):not(.disabled):active {
//   font-weight: 900;
//   color: #fff;
//   background-color: #fd8a17;
// }