<nb-card>
  <nb-card-header>
    <div class="row align-items-center">
      <h4 class="text-center ml-3">Users</h4>
      <span class="spacer"></span>
      <button class="mx-3" nbButton status="success" routerLink="/register">
        <nb-icon icon="plus-square-outline"></nb-icon> Add
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userlist | paginate: { itemsPerPage: 5, currentPage: p };">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>
            <button class="m-1" size="small" nbButton outline status="warn" (click)="editUser(user)">
              <nb-icon icon="eye-outline"></nb-icon>VIEW
            </button>
            <button class="m-1" size="small" nbButton outline status="danger" (click)="deleteUser(user)">
              <nb-icon icon="trash-2-outline"></nb-icon>DELETE
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>